<div class="row mt-4 ">
    <div class="col">
        <table class="table ">
            <thead>
                <tr class=" text-info">
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Canción</th>
                    <th class="text-center">Previa</th>
                </tr>
            </thead>
            <tbody class="text-white" *ngFor="let track of tracks">
                <tr>
                    <td><img [src]="track.album.images | noimage" alt="imagen" class="img-thumb"></td>
                    <td> {{ track.album.name }} </td>
                    <td> {{ track.name }} </td>
                    <td class="text-center">
                        <!-- <audio [src]="track.preview_url" controls></audio>-->
                        <iframe [src]="track.id | domseguro" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>